---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
    <img style="float: left; height: 100px; width: 100px; margin-left: 3em; margin-top: -3em;" src="/assets/img/me_face.png">
    <img style="float: right; height: 100px; width: 100px; margin-right: 3em; margin-top: -3em;" src="/assets/img/logo.png">
    <div class="u-container" style="text-align: center;">
      <h1 class="c-header__title">{{ page.title }}</h1>
    </div>
  </header>

  <div class="c-article__main">
    {{ content }}
  </div>
</article>
